
h1 {
    color: red;
}

.list-group-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.list-group-item > p {
    margin: 0;
}

.complete {
    text-decoration: line-through;
}